div.container {
    background-color: aqua;
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
}

div.item {
    background-color: blueviolet;
    border: 1px solid black;
    text-align: center;
}

