@charset "UTF-8";

/* Aula: https://youtu.be/daqYOsN9hl0 */

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #282b62;
    font-family: 'Inter', sans-serif;
}


main {
    background-image: url(../img/nirvana.jpg);
    background-position: center;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person-container {
    color: #ffd701;
}

.person-container-img {
    width: 120px;
    border-radius: 50%;
    border: 8px solid #ffd701;
    margin-bottom: 24px;
}

.person-container-name {
    font-size: 40px;
    margin-bottom: 8px;
    font-family: 'Cabin Sketch', cursive;
}

.person-container-subtitle {
    font-size: 16px;
    margin-bottom: 40px;
}

.info-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.info-box {
    width: 340px;
    height: 180px;
    background-color: #ffd701;
    padding: 24px;
    border-radius: 32px;
}

.info-box-title {
    font-family: 'Cabin Sketch', cursive;
    font-size: 24px;
    margin-bottom: 16px;
}

.contact-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.contact-container-link {
   background-color: black; 
   width: 56px;
   height: 56px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
}

.contact-container-link:hover {
    background-color: #ffd701;
}

.contact-container-icon {
    width: 32px;
}










