@charset "UTF-8";

/* Grid area */

@media screen and (min-width: 850px){
  .layout {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-areas: 
      'header header'
      'sidebar main'
      'sidebar footer'
    ;
  }
}

.header {
  background-color: rgb(113, 113, 175);
  color: #fff;
  padding: 20px;
  grid-area: header;
}

.sidebar {
  background-color: #ddd;
  font-size: 0.8rem;
  color: #999;
  padding: 20px;
  grid-area: sidebar;
}

.main {
  padding: 20px;
  line-height: 1.7;
  grid-area: main;
}

.footer {
  background-color: rgb(77, 77, 77);
  color: #fff;
  padding: 15px;
  font-size: 0.75rem;
  grid-area: footer;
  align-self: end;
}