@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #3d6ff3, #29ace9, #6df4f8);
}

main{
   background-color: white; 
   border-radius: 10px;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.700);
   width: 600px;
   padding: 10px;
   margin: auto;
}

h1{
    color: #3d6ff3;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.700);
}

h2{
    color: #29ace9;
}

p{
    text-align: justify;
}