@charset "UTF-8";

/* Aula: https://youtu.be/t_z21hRqX6s */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    list-style: none;
    text-decoration: none;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

section header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



