div.container {
    background-color: aqua;
    display: flex;
    flex-flow: row nowrap;
}

div.item {
    background-color: rgb(8, 185, 61);
    border: 1px solid black;
    text-align: center;
    flex-basis: 200px;
}

div#cxA {
  flex-shrink: 0;
  flex-grow: 1;      
}

div#cxB {
  flex-shrink: 1;
  flex-grow: 1;  
}

div#cxC {
  flex-shrink: 8;
  flex-grow: 1;  
}