@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    background-color: #101026;
}

a {
    color: #fff;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: #0088d2;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

/* Responsividade */

@media (max-width: 768px) {
    .hamburguer {
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(2){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #101026;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}





