/* LINK: https://www.youtube.com/watch?v=9s07xUv3F2Y */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background: #d4e4ef;
}

#container {
    max-width: 1024px;
    margin: 0 auto;
}

#container > header {
    background: #d4e4ef;
    text-align: center;
    padding-top: 1rem;
}

main {
    background: #ecedea;
    font-size: 20px;
    padding: 1rem;
}

footer {
    background: #6aabd2;
    height: 7rem;
}

/* NAV */
nav {
    background: #0a6082;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    border-radius: 10px 10px 0px 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    color: #ecedea;
    border-right: 1px solid #d4e4ef;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #ecedea;
    padding: 15px;
}

/* MAIN */

main > header {
    color: #d84c72;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}

.produtos {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.produto {
    margin-bottom: 20px;
}

.produto img:hover {
    transform: scale(1.1);
    transition: .5s;
}

.produto p {
    background: #d84c72;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}

