div.container {
    background-color: aqua;
    display: flex;
    flex-direction: column-reverse;
}

div.item {
    background-color: blueviolet;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}



