@charset "UTF-8";

/* Aula: https://youtu.be/Lx_1JUqv0ao */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* Configurações globais */

* {
    margin: 0;
    padding: 0;

    font-family: 'Ubuntu', sans-serif;
}

/* Corpo do site */

body {
    background-color: darkslategray;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

/* Logo do Spotify */

svg {
    width: 180px;
    fill: white;
}

/* Cabeçalho */

.header {
    background-color: black;
    color: white;

    flex-grow: 1; /* permite que os elementos cresçam */

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.header a:hover {
    color: #1ed760;
}

/* Menu */

nav > a {
    padding: 10px;
}

/* Conteúdo principal */

.main {
    background-color: #1d75de;
    color: white;

    flex-grow: 10;

    padding: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Botões */

.btn {
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 15px 35px;
    border: 0px;
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.04);
}

.btn-black {
    background-color: black;
    border: 2px solid black;
}

.btn-primary {
    background-color: #1d75de;
    border: 2px solid white;
}

.btn-primary:hover {
    background-color: #1A69C7;
}

/* Rodapé */

.footer {
    background-color: white;

    flex-grow: 4;

    display: flex;
    justify-content: center;
    align-items: center;
}