@charset "UTF-8";

/* Aula: https://youtu.be/Y2Q6NPn7plI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #181b1d;
}

.search {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: #f1f1f1;
    overflow: hidden; /*usado para respeitar a altura e a largura*/
    box-shadow: 0px 3px 5px 3px #000000;
    transition: 0.5s;
}

/* Relacionado ao JavaScript */

.search.ativo {
    width: 360px;
}

/* ----------------------------------- */

.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000; /* para ficar acima de todas as camadas de estilo colocadas */
}

.search .icon::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #181b1d;
    border-radius: 15px;
    transform: translate(-4px, -4px);
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background-color: #181b1d;
    transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    background-color: #f1f1f1;
}

.delete {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 20px;
    background: #999;
    transform: rotate(45deg);
}

.delete::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 20px;
    background: #999;
    transform: rotate(315deg);
}




