div.container {
    background-color: aqua;
    display: flex;
    flex-flow: row wrap;
}

div.item {
    background-color: blueviolet;
    border: 1px solid black;
    text-align: center;
    flex: auto;
}

