@charset "UTF-8";

html,
body {
    padding: 0;
    margin: 0;
}

input {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #BBB;
    font-family: Helvetica, sans-serif;
    padding-bottom: 100px;
}

h2,
h3 {
    margin: 0 0 .75em 0;
}

/* third example */
.call-outs-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
  }
  
  .call-out {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 30%; /* define um tamanho particular dos elementos */
  }
  

  @media (min-width: 900px) {
    .call-outs-container {
        display: flex;
        justify-content: space-between;
    }
  }

  .call-out:nth-child(1) {background-color: #c0dbe2;}
  .call-out:nth-child(2) {background-color: #cdf1c3;}
  .call-out:nth-child(3) {background-color: #ccb9da;}

  