div.container {
    background-color: aqua;
    display: flex;
    flex-flow: row wrap;
}

div.item {
    background-color: blueviolet;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}

div#i1 {
    order: 0;
}

div#i2 {
    order: -2;
}

div#i3 {
    order: 4;
}

div#i4 {
    order: 8;
}

div#i5 {
    order: 2;
}

div#i6 {
    order: 0;
}

div#i7 {
    order: -4;
}

