@charset "UTF-8";

/* Aula: https://youtu.be/3C7v3S-tnFw 

10:29 - justify-content
14:50 - flex-direction: row-reverse;
15:59 - flex-direction: column;
18:39 - gap
20:19 - align-items
25:54 - flex-wrap 
28:00 - flex-flow
28:55 -  align-content
31:38 - order

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    background: yellow;
    display: flex;
    flex-direction: row; /*eixo principal*/
    justify-content: flex-start; /* só mexe no eixo principal*/
    align-items: center; /*só mexe no eixo transversal*/
    flex-wrap: wrap;
    align-content: flex-start;
    /* flex-flow: row wrap; ou flex-flow: column no-wrap;
( é a combinação de flex-direction e flex-wrap) */
    gap: 30px;
    height: 80vh;
}

.flex-item {
    background: pink;
}

.flex-item:nth-child(1) {
    order: 2;
}