@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #dbefff;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    border-radius: 10px;
    flex-direction: column;
    background-color: aliceblue;
    padding: 20px 15px;
}

.img img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

.text {
    text-align: center;
    margin-bottom: 12px;
}

.text h1 {
    color: #0088d2;
}

.text p {
    font-size: 16px;
    color: #808080;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 15px;
    background: #0088d2;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    color: #dbefff;
    font-size: 20px;
    margin-top: 15px;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #dbefff;
    position: absolute;
    top: 29%;
    right: 39%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon::before {
    content: "\f186";
    font-family: fontAwesome;
    color: #0088d2;
    font-size: 20px;
}












 