@charset "UTF-8";

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

/*imagem responsiva no tamanho máximo do container*/

img {
  max-width: 100%; 
  display: block; 
}

.header {
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap; /* quando a tela for pequena demais e os elementos ficarem perto do outro aí eles descem para baixo*/
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/* CSS FLEXBOX */

.flex {
    display: flex;
    flex-wrap: wrap; /*indica que o flex pode quebrar a linha*/
    max-width: 800px; /*o ideal é que a largura seja a mesma que você irá usar nas outras seções*/
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px; /*span > shrink > container*/
    margin: 10px;
}

/* CSS GRID 1 */

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    padding: 10px;
    margin: auto;
    grid-gap: 20px;
}

/* nth-child() permite selecionar os elementos filhos dentro do container

nth-child(n + 4) significa que a partir do 4 item todos terão a configuração definida.

*/

.grid1 > div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.grid1 > div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;
}

@media (max-width: 600px) {
    .grid1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid1 > div:nth-child(n + 4) {
        display: block;
    }

    .grid1 > div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}

/* CSS GRID 2 */

.grid2 {
   display: grid; 
   grid-template-columns: 1fr 200px;
   grid-gap: 20px;
   max-width: 800px;
   padding: 10px;
   margin: auto;
}

.sidebar > div {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .grid2 {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: flex;
        overflow: scroll;
    }

    .sidebar > div {
        flex: 1 0 200px; /*span > shrink > container*/
        margin: 0 10px;
    }
}

/* CSS GRID 3*/

.grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: auto;
    padding: 10px;
    max-width: 800px;
}

.grid3-item:nth-child(1) {
    grid-row: 1 / 3;
}

.grid3-item {
    display: grid;  
}

.grid3-item img {
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: end;
}

.grid3-item p {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
}