@charset "UTF-8";

/*Fontes*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/*pseudo-classe*/

:root {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo: "Passion+One";
    --fonte-texto:  'Sriracha';
}

/*Configurações globais*/

* {
    padding: 0px;
    margin: 0px;
}

/* Configurações gerais do body*/

body {
    background-color: white;
    font-family: var(--fonte-padrao);
}

/* Header (cabeçalho) */

#container {
    background-color: black;
    min-height: 330px;
    position: relative;
    padding: 10px;
}

.conteudo {
    position: absolute;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.conteudo > h1 {
    font-family: var(--fonte-titulo);
    font-size: 5em;
    color: white;
}

.conteudo > p {
    font-family: var(--fonte-padrao);
    font-size: 1em;
}

/* Configurações das estrofes */

p {
    font-family: var(--fonte-texto);
    font-size: 2em;
}

.estrofe1 {
    margin: 100px 0px 100px 10px;
}

.estrofe2 {
    position: relative;
    height: 1280px;
    background-image: url(../imagens/background001.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.texto2 {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.500);
    width: 600px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
}