@charset "UTF-8";

/* Typical device breakpoints

Pequenas telas: até 600px

Celular: de 600px até 768px

Tablet: 768px até 992px

Desktop: 992px até 1200px

Grandes telas: acima de 1200px

*/

@media screen and (min-width: 600px) and (max-width:992px) {
    body {
        background-color: aqua;
    }

    .login {
        width: 775px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }
}